/* line 297 : E:\OpenServer\domains\aromatniymed\styl\style.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\stylus\lib\functions\index.styl */

/* line 15 : E:\OpenServer\domains\aromatniymed\node_modules\stylus\lib\functions\index.styl */

/* line 78 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\index.styl */

/* line 10 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\index.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\border.styl */

/* line 53 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\border.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\border-radius.styl */

/* line 28 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\border-radius.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\clearfix.styl */

/* line 4 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\clearfix.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\color-image.styl */

/* line 196 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\color-image.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\flex.styl */

/* line 90 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\flex.styl */

/* line 78 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\gradients.styl */

/* line 11 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\gradients.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\config.styl */

/* line 7 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\config.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\iconic.styl */

/* line 25 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\iconic.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\image.styl */

/* line 19 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\image.styl */

/* line 78 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\index.styl */

/* line 8 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\index.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\base.styl */

/* line 19 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\base.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\html5.styl */

/* line 6 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\html5.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\links.styl */

/* line 30 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\links.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\text.styl */

/* line 7 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\text.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\embed.styl */

/* line 17 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\embed.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\groups.styl */

/* line 69 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\groups.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\forms.styl */

/* line 7 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\forms.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\tables.styl */

/* line 20 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\tables.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\overflow.styl */

/* line 66 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\overflow.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\positions.styl */

/* line 78 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\positions.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\reset.styl */

/* line 5 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\reset.styl */

/* line 78 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\text\index.styl */

/* line 12 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\text\index.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\text\aliases.styl */

/* line 9 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\text\aliases.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 8 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 2 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line 523 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\vendor.styl */

/* line 11 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\vendor.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\config.styl */

/* line 28 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\config.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\size.styl */

/* line 19 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\size.styl */

/* line 78 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\index.styl */

/* line 8 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\index.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\base.styl */

/* line 19 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\base.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\html5.styl */

/* line 6 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\html5.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\links.styl */

/* line 30 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\links.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\text.styl */

/* line 7 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\text.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\embed.styl */

/* line 17 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\embed.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\groups.styl */

/* line 69 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\groups.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\forms.styl */

/* line 7 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\forms.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\tables.styl */

/* line 90 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\normalize\tables.styl */

/* line 78 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\gradients.styl */

/* line 11 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\gradients.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\config.styl */

/* line 15 : E:\OpenServer\domains\aromatniymed\node_modules\nib\lib\nib\config.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\styl\fonts.styl */

@font-face
{
    font-family: 'PT Sans';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/ptsans.woff') format('woff'), url('../fonts/ptsans.woff2') format('woff2');
}

@font-face
{
    font-family: 'PT Sans Bold';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/ptsansbold.woff') format('woff'), url('../fonts/ptsansbold.woff2') format('woff2');
}

/* line 13 : E:\OpenServer\domains\aromatniymed\styl\fonts.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\styl\global.styl */

/* line 10 : E:\OpenServer\domains\aromatniymed\styl\global.styl */

img
{
    max-width: 100%;
    height: auto;
}

/* line 1 : E:\OpenServer\domains\aromatniymed\styl\global.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\styl\mixins.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\styl\mixins.styl */

/* line 487 : E:\OpenServer\domains\aromatniymed\styl\mixins.styl */

/* line 29 : E:\OpenServer\domains\aromatniymed\styl\mixins.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\styl\blocks\footer.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\styl\blocks\footer.styl */

footer
{
    background: linear-gradient(to top, #feba09, #ffeb00);
}

/* line 4 : E:\OpenServer\domains\aromatniymed\styl\blocks\footer.styl */

/* line 5 : E:\OpenServer\domains\aromatniymed\styl\blocks\footer.styl */

.footer ul
{
    display: -ms-flexbox;
    display: box;
    display: flex;

    -webkit-box-lines: single;
       -moz-box-lines: single;
         -o-box-lines: single;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* line 13 : E:\OpenServer\domains\aromatniymed\styl\blocks\footer.styl */

.footer ul li
{
    margin-right: 10px;

    border: none;
    background-color: inherit;
}

/* line 18 : E:\OpenServer\domains\aromatniymed\styl\blocks\footer.styl */

.footer ul li a
{
    padding: 5px 10px;
}

/* line 20 : E:\OpenServer\domains\aromatniymed\styl\blocks\footer.styl */

.footer ul li a:hover
{
    border-radius: 20px;
    background: linear-gradient(to bottom, #fe8000, #ffeb00);
}

/* line 244 : E:\OpenServer\domains\aromatniymed\styl\blocks\footer.styl */

/* line 29 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

body
{
    font-family: 'PT Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;

    color: #161616;
}

/* line 6 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'PT Sans Bold', 'Helvetica', 'Arial', sans-serif;
}

/* line 9 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

a
{
    color: #2a2328;
}

/* line 11 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

a:hover
{
    color: #2a2526;
}

/* line 15 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.header
{
    padding-top: 5px;

    background: url('../img/22.png') no-repeat, linear-gradient(to top, #feba09, #ffeb00);
}

/* line 22 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.header > .conteiner > .row
{
    height: 60px;
}

/* line 26 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.logo
{
    position: relative;
}

/* line 28 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.logo > div
{
    position: absolute;
}

/* line 30 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.logo > div > a > img
{
    background-color: rgba(0,0,0,.08);
}

/* line 37 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.search
{
    height: 50px;
    padding-top: 5px;
}

/* line 40 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.search .form-control
{
    font-style: italic;

    background: linear-gradient(to right, #fff, #fff29b);
}

/* line 43 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.search .form-control:focus
{
    box-sizing: none;

    outline: none;
    background: linear-gradient(to right, #ffd330, #ffed72);
    box-shadow: none;
}

/* line 50 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

/* line 52 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.search .search__btn button
{
    background: linear-gradient(to right, #d2f935, #12e233);
}

/* line 54 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.search .search__btn button:focus
{
    outline: none;
}

/* line 57 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.search .search__btn button:hover
{
    background: linear-gradient(to right, #cbf818, #10cb2e);
}

/* line 63 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.input-group-btn
{
    border: none;
}

/* line 65 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.input-group-btn:focus
{
    outline: none;
}

/* line 69 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

/* line 70 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.contacts ul
{
    padding: 0;
}

/* line 72 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.contacts ul li
{
    list-style: none;
}

/* line 101 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

/* line 102 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.account ul
{
    padding: 0;
}

/* line 104 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.account ul li
{
    list-style: none;
}

/* line 117 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

/* line 118 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.header__cart__btn
{
    border-color: transparent #12e233 transparent #d2f935;
    background: linear-gradient(to right, #d2f935, #12e233);
}

/* line 121 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.header__cart__btn:hover
{
    border: 1px solid #8c8c8c;
    background: linear-gradient(to right, #cbf818, #10cb2e);
}

/* line 132 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.header__cart__dop
{
    display: none;
}

/* line 134 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.header__cart__dop button
{
    border-color: transparent #12e233 transparent #d2f935;
    background: linear-gradient(to right, #d2f935, #12e233);
}

/* line 146 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

/* line 159 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

/* line 160 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.info__nav > li
{
    text-align: center;

    border: none;
    background-color: inherit;
}

/* line 164 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.info__nav > li:nth-child(2)
{
    border-left: none;
}

/* line 167 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.info__nav > li > a
{
    padding: 15px auto;
    /*
          &:hover {
            background: linear-gradient(to right, #4afb66, #0ac097);
            border-radius: 20px;

          }
          */
}

/* line 169 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.info__nav > li > a:hover
{
    border-radius: 20px;
    background: linear-gradient(to bottom, #fe8000, #ffeb00);
}

/* line 204 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

/* line 211 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

/* line 228 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.headerCart
{
    width: 460px;
}

/* line 233 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.headerCart__btn
{
    background-color: #f00;
}

/* line 235 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.headerCart__btn:focus
{
    background-color: #900;
}

/* line 240 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover
{
    color: #2a2328;
    border-color: transparent #ffeb00 transparent #fe8000;
    background: linear-gradient(to bottom, #fe8000, #ffeb00);
}

/* line 16 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

/* line 244 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__category.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__category.styl */

/* line 5 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__category.styl */

/* line 6 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__category.styl */

.category__left ul a
{
    border-color: #e6a427;
    background: linear-gradient(to top, #feba09, #ffeb00);
}

/* line 9 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__category.styl */

.category__left ul a:hover
{
    border-color: transparent #ffeb00 transparent #fe8000;
    background: linear-gradient(to bottom, #fe8000, #ffeb00);
}

/* line 78 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__category.styl */

/* line 78 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

/* line 2 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

/* line 3 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

.main__product--list
{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* line 7 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

.main__product--item
{
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* line 24 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

.main__product--item:hover
{
    border: 1px solid #00a8c6;
}

/* line 28 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

.main__product--item .price
{
    font-size: 22px;

    color: #132c00;
}

/* line 31 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

.main__product--item .price .price-old
{
    text-decoration: line-through;

    color: #f00;
}

/* line 35 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

.main__product--item .price .price-new
{
    font-size: 24px;

    color: #008000;
}

/* line 41 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

.main__product--item .product__name
{
    font-size: 24px;
}

/* line 43 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

.main__product--item .product__name:focus
{
    outline: none;
}

/* line 46 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

/* line 47 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

.main__product--item .product__name a:focus
{
    text-decoration: none;
}

/* line 51 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

.main__product--item .product__name a:hover
{
    text-decoration: none;

    border-bottom: 1px solid #23527c;
}

/* line 60 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

/* line 63 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

.main__addCartBtn
{
    font-size: 26px;

    box-sizing: border-box;
    width: 100%;

    background: linear-gradient(to right, #d2f935, #12e233);

    paddind: 5px 5px;
}

/* line 69 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

.main__addCartBtn:hover,
.main__addCartBtn:focus
{
    background: linear-gradient(to right, #cbf818, #10cb2e);
}

/* line 74 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

.main__addCartText
{
    padding: 5px;

    color: #fff;
}

/* line 20 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

/* line 78 : E:\OpenServer\domains\aromatniymed\styl\blocks\category.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\styl\blocks\category.styl */

.category__list
{
    padding-left: 0;
}

/* line 3 : E:\OpenServer\domains\aromatniymed\styl\blocks\category.styl */

.category__list li
{
    display: inline-block;

    list-style: none;
}

/* line 6 : E:\OpenServer\domains\aromatniymed\styl\blocks\category.styl */

.category__list li a
{
    font-size: 15px;

    display: block;

    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;

    background-color: #e6d824;
}

/* line 18 : E:\OpenServer\domains\aromatniymed\styl\blocks\category.styl */

ul.pagination
{
    display: none;
}

/* line 56 : E:\OpenServer\domains\aromatniymed\styl\blocks\category.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

/* line 1 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

.product__product__name
{
    margin-top: -10px;
    margin-bottom: 10px;

    text-align: center;
}

/* line 6 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

.poduct__img
{
    padding: 0;

    list-style: none;
}

/* line 9 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

/* line 10 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

.poduct__img li:focus
{
    outline: #e6a427 auto 5px;
}

/* line 15 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

/* line 16 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

/* line 17 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

.list-unstyled .price__base
{
    font-size: 24px;
}

/* line 20 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

.list-unstyled .price__old
{
    font-size: 20px;

    color: #f00;
}

/* line 24 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

.list-unstyled .price__new
{
    color: #008000;
}

/* line 30 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

.product__cart
{
    background-color: #008000;
}

/* line 32 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

.product__cart:hover,
.product__cart:focus,
.product__cart:active
{
    border-color: #00a600;
    background-color: #00a600;
}

/* line 35 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

.product__cart:hover:hover,
.product__cart:focus:hover,
.product__cart:active:hover,
.product__cart:hover:focus,
.product__cart:focus:focus,
.product__cart:active:focus,
.product__cart:hover:active,
.product__cart:focus:active,
.product__cart:active:active
{
    border-color: #00a600;
    background-color: #00a600;
}

/* line 41 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

.product__wishlist
{
    display: block;

    background-color: #d9d9d9;
}

/* line 44 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

.product__wishlist p
{
    margin: 0;
}

/* line 49 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

/* line 50 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

#product .btn-group
{
    display: block;
}

/* line 54 : E:\OpenServer\domains\aromatniymed\styl\blocks\product.styl */

.product__related
{
    text-align: center;
}

@media screen and (min-width: 500px) and (max-width: 991px)
{
    /* line 77 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .contacts > ul
    {
        display: -ms-flexbox;
        display: box;
        display: flex;

        width: 100%;

        -webkit-box-lines: single;
           -moz-box-lines: single;
             -o-box-lines: single;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -o-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }/* line 82 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .contacts > ul > li
    {
        font-size: 24px;

        text-align: center;
    }/* line 108 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .account
    {
        font-size: 30px;

        float: right;
    }
}

@media screen and (min-width: 768px)
{
    /* line 147 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .info__navbar
    {
        width: 100%;
        padding: 0;

        border: none;
    }/* line 185 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .info__nav
    {
        display: -ms-flexbox;
        display: box;
        display: flex;

        width: 100%;

        -webkit-box-lines: single;
           -moz-box-lines: single;
             -o-box-lines: single;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -o-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }/* line 190 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .info__nav > li
    {
         -o-box-flex: 1;
        -ms-box-flex: 1;
            box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }/* line 205 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .info__collapse
    {
        padding-top: 15px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 1200px)
{
    /* line 127 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .header__cart
    {
        display: none;
    }/* line 138 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .header__cart__dop
    {
        position: static;

        display: block;
    }
}

@media screen and (max-width: 992px)
{
    /* line 17 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .header
    {
        background: linear-gradient(to top, #feba09, #ffeb00);
    }
}

@media screen and (max-width: 768px)
{
    /* line 10 : E:\OpenServer\domains\aromatniymed\styl\blocks\footer.styl */

    .footer ul
    {
        -webkit-box-lines: multiple;
           -moz-box-lines: multiple;
             -o-box-lines: multiple;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }/* line 152 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .info__navbar
    {
        margin-bottom: 0;
    }/* line 154 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .info__navbar bottom
    {
        float: left;
    }/* line 196 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .info__nav > li
    {
        font-size: 25px;

        border: none;
    }/* line 213 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .navbar-header > button
    {
        font-size: 30px;

        float: left;
    }/* line 221 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .account__mobile
    {
        font-size: 20px;
    }/* line 223 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .account__mobile li
    {
        margin: 10px;
    }/* line 230 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .headerCart
    {
        width: 100%;
    }/* line 2 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__category.styl */

    .category__left
    {
        z-index: 10;
    }/* line 13 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

    .main__product--item img
    {
        margin: 0 auto;
    }/* line 17 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

    .main__product--item .caption
    {
        text-align: center;
    }/* line 20 : E:\OpenServer\domains\aromatniymed\styl\blocks\main__product.styl */

    .main__product--item .price
    {
        text-align: center;
    }
}

@media screen and (max-width: 499px)
{
    /* line 91 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl *//* line 93 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .contacts > ul > li
    {
        font-size: 30px;

        margin: 0 auto;
    }/* line 113 : E:\OpenServer\domains\aromatniymed\styl\blocks\header.styl */

    .account
    {
        font-size: 30px;
    }
}

/*# sourceMappingURL=style.css.map */
