.category__left{
  @media screen and (max-width: 768px){
    z-index 10;
  }
  ul{
    a{
      background: linear-gradient(to top, #feba09, #ffeb00);
      border-color: #e6a427;
      &:hover{
        background: linear-gradient(to bottom, #fe8000, #ffeb00);
        border-color transparent #ffeb00 transparent #fe8000;
       }
    }
  }

}