  .product__product__name{
    text-align center;
    margin-top: -10px;
    margin-bottom 10px;
  }
.poduct__img{
  list-style: none;
  padding: 0;
  li{
    &:focus{
      outline: #e6a427 auto 5px;
    }
  }
}
.list-unstyled{
  .price{
    &__base{
      font-size: 24px;
    }
    &__old{
      font-size:20px;
      color: red;
      }
    &__new{
      color: green;
          }

  }
}
.product__cart{
  background-color: green;
  &:hover, &:focus, &:active{
    background-color: lighten(green, 10%);
    border-color: lighten(green, 10%);
  &:hover, &:focus, &:active{
    background-color: lighten(green, 10%);
    border-color: lighten(green, 10%);
  }
  }
}
.product__wishlist{
  background-color: #d9d9d9;
  display: block
  p{
    margin 0;
  }

}
 #product{
   .btn-group{
     display block;
   }
 }
.product__related{
text-align: center;
}
