@import "nib";
@import "nib/normalize";
@import 'nib/gradients'
@import "fonts.styl";
@import "global.styl";
@import "mixins.styl";

//  @import "blocks/about_us.styl";
@import "blocks/body.styl";
@import "blocks/contacts.styl";
@import "blocks/footer.styl";
@import "blocks/header.styl";
@import "blocks/main__category.styl";
@import "blocks/main__product.styl";
@import "blocks/category.styl";
@import "blocks/product.styl";
//@import "blocks/price.styl";
